{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ package.location }}
{% endblock %}

{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Product</title>
    </head>
    <style>
        body {
            background-color: Azure;
        }

        #cart-icon {
            width: 25px;
            display: inline-block;
            margin-left: 15px;
        }
    </style>
    <body>
    <img src="{% static "images/Travel Works.png" %}" alt="logo" width="200" height="200">

    <div style="padding: 10px;">
        <h3><b>{{ object.location }}</b></h3>
        <br>
        <h4>Currently: {{ object.weather }}</h4>
        <h4>{{ object.description }}</h4>
        <h4>Rating: {{ object.rating }}</h4>
        <h4>{{ object.start_date }} - {{ object.end_date }}</h4><br>
        <h4>${{ object.price }}</h4>
    </div>
    {#    <button type="submit">Add to Cart</button>#}
    <div>
        <button data-product="{{ package.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">
            Add to Cart
        </button>
        <a href="{% url 'shop:cart' %}">
            <img id="cart-icon" src="{% static 'images/cart.png' %}">
            <span id="cart-total"> {{ cartItems }} </span>
        </a>
    </div>

    </body>

{% endblock %}