{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load account socialaccount %}
{% block content %}
    <div class="container pt-3">
    {% if form.errors %}
    <br />
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <br />
    <br />
    <form method="post" action="{% url 'login' %}">
        {{ form|crispy }}
        {% csrf_token %}
        <input type="submit" value="login" style="color: black"/>
        <input type="hidden" name="next" value="{{ next }}"/>

        <a href="{% url 'password_reset' %}" class="btn btn-secondary ml-2">
                                Forgot Password</a>
        <input type="hidden" name="next" value="{{ next }}"/>
        <br>
            <h5>OR</h5>
            <br>
            <p class="btn btn-primary btn-lg disabled" role="button">
                <a href="{% provider_login_url 'google' %}" style="color: #ffffff"><img width="15px"
                                                                                        style="margin-bottom:3px; margin-right:5px"
                                                                                        alt="Google login"
                                                                                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>sign
                    in with google</a></p>
            <br>
    </form>
    </div>
{% endblock %}